# Project information
site_name: "Quantum KITE"
site_description: "KITE: Real-space quantum transport simulator"
site_author: "KITE"

# Repository
repo_url: https://github.com/quantum-kite/kite
edit_uri: https://github.com/quantum-kite/kite/tree/master/docs

# Copyright
copyright:  "KITE is a free software: you can redistribute it and/or modify it under the terms of the GNU
              General Public License as published by the Free Software Foundation - version 3. Copyright ©
              2023 KITE"

# Navigation

nav:
  - Home: 'index.md'
  - Installation: 'installation.md'
  - Documentation:
    - Theory: 'documentation/optimization.md'
    - Tutorial:
      - 0. First Calculation: 'documentation/index.md'
      - 1. Workflow: 'documentation/workflow.md'
      - 2. Lattice: 'documentation/tb_model.md'
      - 3. Settings: 'documentation/settings.md'
      - 4. Calculation: 'documentation/calculation.md'
      - 5. Post-processing: 'documentation/postprocessing.md'
      - 6. Disorder: 'documentation/disorder.md'
      - 7. Magnetic Field: 'documentation/magnetic.md'
      - 9. Editing the HDF5 file: 'documentation/editing_hdf_files.md'
    - Examples:
      - About the examples: 'documentation/examples/index.md'
      - Graphene: 'documentation/examples/graphene.md'
      - Haldane: 'documentation/examples/haldane.md'
      - Phosphorene: 'documentation/examples/phosphorene.md'
      - Optical Conductivity: 'documentation/examples/optical_conductivity.md'
      - Large Systems: 'documentation/examples/large_systems.md'
    - More Examples:
      - About Examples-dir: 'documentation/more_examples/additional_examples.md'
      - Examples from KITE's Paper: 'documentation/more_examples/paper.md'
      - Custom Local Potential: 'documentation/more_examples/custom_local_potential.md'
  - Background:
    - Overview of KITE: 'background/index.md'
    - Spectral Methods: 'background/spectral.md'
    - Tight-Binding Models: 'background/tight_binding.md'
  - API:
    - Overview: 'api/index.md'
    - KITE (python):
      - Python package: 'api/kite.md'
    - KITEx:
      - Main program: 'api/kitex.md'
    - KITE-tools:
      - Toolbox: 'api/kite-tools.md'
      - Addtitional scripts: 'api/kite_tools_readme.md'
  - FAQ: 'faq.md'
  - About:
    - README.md: 'about/index.md'
    - LICENSE.md: 'about/LICENSE.md'
    - VERSION.md: 'about/VERSION.md'

# Configuration
site_dir: "../docs/"
theme:
  name: material
  language: "en"
  logo: "assets/images/site/safari-pinned-tab.svg"
  favicon: "assets/images/site/favicon.ico"
  custom_dir: "docs/assets/theme_override/"
  font:
    text: Roboto
    code: Roboto Mono
  primary: "grey"
  palette:
    # scheme: Quantum-KITE
    - media: "(prefers-color-scheme: light)" # (1)!
      scheme: kite
      accent: deep orange
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)" # (2)!
      scheme: slate
      accent: deep orange
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.top
    - navigation.sections
    - navigation.expand
    - navigation.instant
    - navigation.tracking
    - toc.integrate
    - toc.follow
  icon:
    admonition:
      declaration-function: fontawesome/solid/book
      declaration-class: fontawesome/solid/book


# Customization
extra_css:
  - "assets/stylesheets/extra.css"
  - "assets/stylesheets/monokai.css"
  - "assets/stylesheets/colorful.css"

extra_javascript:
  - assets/javascripts/mathjax-config.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
  - https://unpkg.com/mermaid@7.1.2/dist/mermaid.min.js

# Extensions
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - admonition
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - md_in_html
  - def_list
  - tables
  - toc:
      permalink: true
      baselevel: 2
  - attr_list
  - meta
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg

extra:
  team:
    - name: "Aires Ferreira"
      title: Co-Founder
      link: https://www.linkedin.com/in/aires-ferreira-52a1404/
      image: ferreira.jpg
    - name: "Tatiana G. Rappoport"
      title: Co-Founder
      link: https://www.linkedin.com/in/tatiana-rappoport-64242768/
      image: rappoport.jpg
    - name: "João M. Viana Parente Lopes"
      title: Co-Founder
      link: https://www.linkedin.com/in/joão-manuel-viana-parente-lopes-0770b34/
      image: lopes.jpg
    - name: "Lucian Covaci"
      title: Co-Founder
      link: https://www.linkedin.com/in/lucian-covaci-1439388a/
      image: covaci.jpg
    - name: "Simão M. João"
      title: Co-Founder
      link: https://sigarra.up.pt/fcup/pt/func_geral.formview?p_codigo=647225/
      image: simao.jpg
    - name: "Miša Anđelković"
      title: Co-Founder
      link: https://www.linkedin.com/in/misaandelkovic/
      image: misa.jpg
    - name: "João P. Santos Pires"
      title: Contributor
      link: https://www.linkedin.com/in/joão-pedro-dos-santos-pires-849898173/
      image: pires.jpg
    - name: "Bert Jorissen"
      title: Contributor
      link: https://bertjorissen.be
      image: jorissen.jpg
    - name: "Emile Aerts"
      title: Contributor
      link: https://www.uantwerpen.be/en/staff/emile-aerts_23098/
      image: aerts.jpg
    - name: "Robin Smeyers"
      title: Contributor
      link: https://be.linkedin.com/in/robin-smeyers-293bb8209/
      image: smeyers.jpg
    - name: "David T. S. Perkins"
      title: Contributor
      link: https://davidtsperkins.com/"
      image: perkins.jpg

